<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script th:src="@{/static/jquery-2.1.4/jquery.js}"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
<script th:src="@{/static/live2d-widget/autoload.js}"></script>
<script th:src="@{/static/live2d-widget/live2d.min.js}"></script>
<body>
<h1>this is index</h1>
</body>
</html>